@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        height: 200px !important;
    }

    .inactive {
        height: 0px;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.header {
    @apply mt-20;
    @apply font-bold;
    @apply text-3xl;
}

.header-font {
    @apply font-bold;
    @apply text-3xl;
}

.button {
    @apply border-2;
    @apply rounded-lg;
    @apply p-8 shadow-lg;
    @apply font-mono text-lg;
    @apply mx-8;
    @apply w-full;
    @apply flex flex-row;
}